
name: Docker Image CI
# env: 
#   DOCKER_CLI_EXPERIMENTAL: enabled
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps: 
    - name: Checkout
      uses: actions/checkout@v2
    # 设置qemu来编译多个平台的镜像
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1
    # 设置buildx
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: kayuii
        password: ${{ secrets.DOCKERHUB_ACCESSTOKEN }}
    - name: Build the Docker image
      run: sh update_openwrt_rootfs.sh
